
// This is the databse config template file.
// Add the nececary information to link a database to the backend

// Export database connection information. 
// Use the environment settings or given defaults.
exports.config = {
    host: process.env.DB_HOST || "", 
    port: process.env.DB_PORT || 3306, 
    user: process.env.DB_USER || "", 
    password: process.env.DB_PASSWORD || "", 
    database: process.env.DB_DATABASE || "", 
    connection_limit: 100
}